
.backdrop{
    position: fixed;
    top:0;
    left:0;
  
    height: 100%;
    width: 100%;
  
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  
  
  .is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
    
  }
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -150%) scale(0);
  }
  
  
  .modal{
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    
  
    width: 528px;
    height: 581px;
  
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    
  
    background-color: #fff;
  }
  
  .button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .button-close-icon {
    height: 18px;
    width: 18px;
    display: flex;
  }
  
  .button-close:hover .button-close-icon,
  .button-close:focus .button-close-icon {
      fill: var(--accent-color);
      
  }
  
  .modal-form {
  
    
  display: block;
  }
  .modal-strong{
    margin-bottom: 12px;
  
    display: block;
    font-weight: 700;
    font-size: 20px; 
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
  }
  .form-label{
    position:relative;
    display: block;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 0.01rem;
    
    
    
  }
  .input-field {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    resize: none;
    
    padding: 11px 11px 11px 42px ;
    color: #000000;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-field::placeholder{
    color: rgba(117, 117, 117, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
  }
  
  
  .input-field:focus{
    outline: var(--accent-color);
    border-color: var(--accent-color);
  }
  .input-icon {
    position: absolute;
    top: 29px;
    left: 13px;
    height: 18px;
    width: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
  }
  /* .input-field:hover + .input-icon, */
  .input-field:focus + .input-icon {
    fill: var(--accent-color);
  }
  .form-list{
    margin-bottom: 10px;
  }
  
  .form-list-comment{
    margin-bottom: 20px;
  }
  .modal-form .form-list textarea {
    color: #000000;
    padding-left: 17px;
    width: 100%;
    height: 120px;
    resize: none;
    
  }
  
  .input-field-comment{
    padding: 12px 16px;
    width: 100%;
    min-height: 120px;
    
  
    
  }
  .agreement-label{
    display: flex;
    align-items: center;
  
    justify-content: center;
    margin-bottom: 30px;
  
    line-height: 1.71;
    cursor: pointer;
  }
  .agreement-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
  }
  
  .agreement-check:checked ~ .agreement-icon {
    background-color: var(--accent-color);
    border: none;
    
  }
  .agreement-icon{
    
    height: 15px;
    width: 16px;
    
    fill: var(--main-background-color);
    border:2px solid var(--title-text-color);
    border-radius: 2px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .agreement-text{
    margin-left: 7px;
    font-size: 14px;
  }
  
  .agreement-link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  .modal-form .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  